:root {
  --bg-page: #010001;
  --bg-modal: #010001;
  --bg-hover: #2d2c2d;
  --bg-active: #484748;
  --bg-menu: #181718;
  --bg-scrim: #01000160;
  --stroke-tertiary: #3a393a;
  --color-tone-1: #fff;
  --text: #fff;
  --highlighted: #493f81;
  --highlighted-bar: #393364;
  --selected: #4779ab;
  --related: #586c82;
  --fg-page: #fff;
  --key-text-color: var(--fg-page);
  --fg-secondary: #d6d6d6;
  --fg-ternary: #969696;
  --cell: #595863;
  --block: #18161a;
  --lines: #18161a;
  --light-white: #deddde;
  --bg-btn-emphasis-constant: var(--light-white);
  --stroke-constant: var(--light-white);
  --text-constant: var(--light-white);
  --text-alternate-constant: #090809;
  --obscured: #353435;
  --scrollbar-fg: #484748;
  --scrollbar-bg: #181718;
}

body {
  background: var(--bg-page);
  color: var(--fg-page);
}

ol {
  scrollbar-color: var(--scrollbar-fg) var(--scrollbar-bg);
}

.pz-ad-box {
  background-color: var(--bg-page);
  display: none;
}
.xwd__toolbar--wrapper {
  background-color: var(--bg-page)
}

.xwd__tool--button :hover {
  background-color: var(--bg-hover);
}

.xwd__tool--active :hover {
  background-color: var(--bg-active);
}

.xwd__tool--active {
  background-color: var(--bg-active);
}

.xwd__tool--texty {
  color: var(--fg-page);
}

.xwd__tool--texty :hover {
  color: var(--fg-page);
}

.xwd__printtools--button {
  border: 1px solid var(--fg-page);
  background-color: var(--bg-page);
  color: var(--fg-page);
}

.xwd__printtools--button:hover {
    background-color: #3a3a3a;
    color: var(--fg-page);
}

.pz-footer {
  background-color: var(--bg-page);
}

.xwd__cell--cell {
  fill: var(--cell);
}

.xwd__cell--block {
  fill: var(--block);
}

.xwd__clue--related {
  background-color: var(--related);
}

.xwd__cell--related {
  fill: var(--related)
}

.xwd__clue--selected {
  background-color: var(--highlighted);
}

.xwd__clue-bar-desktop--bar {
  background: var(--highlighted-bar);
}

.xwd__clue--highlighted {
  border-left-color: var(--highlighted);
}

.xwd__cell--highlighted {
  fill: var(--highlighted);
}

.xwd__cell--selected {
  fill: var(--selected);
}


.xwd__cell--cell+circle, .xwd__cell--cell+path {
  stroke: var(--lines);
}

.xwd__cell text {
  fill: var(--fg-page)
}

.pz-nav__logo rect {
  fill: var(--bg-page)
}

.pz-nav__logo path {
  fill: var(--fg-page)
}

.pz-nav__hamburger-inner, .pz-nav__hamburger-inner::before, .pz-nav__hamburger-inner::after {
  background-color: var(--fg-page);
}

.xwd__tool--open {
  background-color: var(--bg-menu);
  color: var(--fg-page);
}

.xwd__menu--item {
  background-color: var(--bg-menu);
  color: var(--fg-page);
  border-top: 1px solid var(--stroke-tertiary);
}

.xwd__tool--open:hover {
  background-color: var(--bg-menu);
  color: var(--fg-page);
}

.xwd__menu--container {
  border: 1px solid var(--stroke-tertiary);
}

.xwd__editorial-content--subGameplayGrid .xwd__editorial-content--header {
  border-top: solid 6px var(--fg-page);
}

.xwd__editorial-content--subGameplayGrid .xwd__editorial-content--header a {
  color: var(--fg-page);
}

.xwd__editorial-content--editorialCard {
  color: var(--fg-page);
}

.xwd__editorial-content--editorialCard .xwd__editorial-content--kicker {
  color: var(--fg-secondary);
}

.xwd__editorial-content--editorialCard .xwd__editorial-content--byline {
  color: var(--fg-ternary);
}

.ccpa-opt-out a, .ccpa-california-notice a {
  color: var(--fg-secondary)
}

.xwd__clue-list--obscured li span:last-child {
  background-color: var(--obscured);
  color: var(--obscured);
}

.xwd__clue-bar-desktop--bar.obscured {
  background-color: var(--obscured);
  color: var(--obscured);
}
